* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe5e5;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 450px;
  margin: 20px;
}

#gif-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

.container .tenor-gif-embed {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  position: absolute;
}

.container .tenor-gif-embed.active-gif {
  display: flex;
}

.container h1 {
  min-height: 50px;
}

.typewriter {
  overflow: hidden;
  border-right: 3px solid #ff1744;
  white-space: nowrap;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 49% {
    border-right-color: #ff1744;
  }
  50%, 100% {
    border-right-color: transparent;
  }
}

.container .btn {
  display: flex;
  gap: 25px;
  position: relative;
  z-index: 1;
}

#yes-btn {
  position: relative;
  z-index: 1;
}

#move-random {
  position: fixed !important;
  z-index: 999;
}

.container a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 15px 40px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  font-size: 16px;
  font-weight: 600;
}

#move-random {
  position: fixed !important;
  transition: top 0.1s, left 0.1s;
  z-index: 999;
}
